<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.librolink">

    <!-- PERMISOS PARA EL MAPA -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="LibroLink"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LibroLink">

        <!-- API Key de Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY_HERE" />

        <activity android:name=".ProfileActivity"/>
        <activity android:name=".SettingsActivity"/>
        <activity android:name=".BookDetailActivity"/>
        <activity android:name=".ChatActivity"/>
        <activity android:name=".EditProfileActivity" />

        <!-- 💥 AGREGAR ESTO 💥 -->
        <activity android:name="com.example.librolink.ui.notificaciones.NotificacionesActivity"/>


        <!-- MAPS ACTIVITY -->
        <activity android:name=".MapActivity"/>

        <activity android:name=".HomeActivity"/>
        <activity android:name=".RegisterActivity"/>

        <!-- Conversaciones -->
        <activity android:name=".ConversacionesActivity" />

        <!-- Publicar libro -->
        <activity android:name=".PublicarLibroActivity" />

        <!-- Activity inicial -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
